auto-install-peers=true
# This should not be set to true but the Type decorators (PartialType, PickType, etc) from @nestjs/swagger cause an error otherwise: [The inferred type of "MyClass" cannot be named without a reference to ".pnpm/node_modules/...path_to_@nestjs/common"]
# TODO: Could we only hoist @nestjs/swagger?
node-linker=hoisted
hoist-pattern[]=*@nestjs/swagger*
# Experminting with Plug n' Play (no node_modules folder)
# node-linker=pnp
# symlink=false
